# Lines that start with '#' are comments.
*~
config*.log

/native/**/*.o
/native/**/*.map
/native/**/*.a
/native/**/*.so

/third_party/**/*.o
/third_party/**/*.lo
/third_party/**/*.la
/third_party/**/*.pc

# gradle/eclipse stuff
/bin/
/.classpath
/.project
/.cproject
/.gradle/
/.settings/

# IDEA stuff
*.iws

/buildoutput/

# remove specific files that are created after a build
build/miniTempBuildImages/
build/miniTempClassFiles/
third_party/SageTV-LGPL/imageload/libImageLoader.so
third_party/codecs/faac/Makefile
third_party/codecs/faac/Makefile.in
third_party/codecs/faac/aclocal.m4
third_party/codecs/faac/autom4te.cache/
third_party/codecs/faac/common/Makefile
third_party/codecs/faac/common/Makefile.in
third_party/codecs/faac/common/mp4v2/.deps/
third_party/codecs/faac/common/mp4v2/Makefile
third_party/codecs/faac/common/mp4v2/Makefile.in
third_party/codecs/faac/compile
third_party/codecs/faac/config.guess
third_party/codecs/faac/config.h
third_party/codecs/faac/config.h.in
third_party/codecs/faac/config.status
third_party/codecs/faac/config.sub
third_party/codecs/faac/configure
third_party/codecs/faac/depcomp
third_party/codecs/faac/frontend/.deps/
third_party/codecs/faac/frontend/Makefile
third_party/codecs/faac/frontend/Makefile.in
third_party/codecs/faac/frontend/faac
third_party/codecs/faac/include/Makefile
third_party/codecs/faac/include/Makefile.in
third_party/codecs/faac/install-sh
third_party/codecs/faac/libfaac/.deps/
third_party/codecs/faac/libfaac/.libs/
third_party/codecs/faac/libfaac/Makefile
third_party/codecs/faac/libfaac/Makefile.in
third_party/codecs/faac/libtool
third_party/codecs/faac/ltmain.sh
third_party/codecs/faac/missing
third_party/codecs/faac/stamp-h1
third_party/codecs/faad2/INSTALL
third_party/codecs/faad2/Makefile
third_party/codecs/faad2/Makefile.in
third_party/codecs/faad2/aclocal.m4
third_party/codecs/faad2/autom4te.cache/
third_party/codecs/faad2/common/Makefile
third_party/codecs/faad2/common/Makefile.in
third_party/codecs/faad2/common/mp4ff/.deps/
third_party/codecs/faad2/common/mp4ff/Makefile
third_party/codecs/faad2/common/mp4ff/Makefile.in
third_party/codecs/faad2/compile
third_party/codecs/faad2/config.guess
third_party/codecs/faad2/config.h
third_party/codecs/faad2/config.h.in
third_party/codecs/faad2/config.status
third_party/codecs/faad2/config.sub
third_party/codecs/faad2/configure
third_party/codecs/faad2/depcomp
third_party/codecs/faad2/faad2.spec
third_party/codecs/faad2/frontend/.deps/
third_party/codecs/faad2/frontend/Makefile
third_party/codecs/faad2/frontend/Makefile.in
third_party/codecs/faad2/install-sh
third_party/codecs/faad2/libfaad/.deps/
third_party/codecs/faad2/libfaad/.libs/
third_party/codecs/faad2/libfaad/Makefile
third_party/codecs/faad2/libfaad/Makefile.in
third_party/codecs/faad2/libtool
third_party/codecs/faad2/ltmain.sh
third_party/codecs/faad2/missing
third_party/codecs/faad2/plugins/Makefile
third_party/codecs/faad2/plugins/Makefile.in
third_party/codecs/faad2/plugins/mpeg4ip/.deps/
third_party/codecs/faad2/plugins/mpeg4ip/Makefile
third_party/codecs/faad2/plugins/mpeg4ip/Makefile.in
third_party/codecs/faad2/plugins/xmms/Makefile
third_party/codecs/faad2/plugins/xmms/Makefile.in
third_party/codecs/faad2/plugins/xmms/src/.deps/
third_party/codecs/faad2/plugins/xmms/src/Makefile
third_party/codecs/faad2/plugins/xmms/src/Makefile.in
third_party/codecs/faad2/stamp-h1
third_party/codecs/giflib/Makefile
third_party/codecs/giflib/autom4te.cache/
third_party/codecs/giflib/config.h
third_party/codecs/giflib/config.status
third_party/codecs/giflib/doc/Makefile
third_party/codecs/giflib/lib/.deps/
third_party/codecs/giflib/lib/.libs/
third_party/codecs/giflib/lib/Makefile
third_party/codecs/giflib/lib/libgetarg.a
third_party/codecs/giflib/libtool
third_party/codecs/giflib/pic/Makefile
third_party/codecs/giflib/stamp-h1
third_party/codecs/giflib/util/.deps/
third_party/codecs/giflib/util/.libs/
third_party/codecs/giflib/util/Makefile
third_party/codecs/giflib/util/gif2epsn
third_party/codecs/giflib/util/gif2ps
third_party/codecs/giflib/util/gif2rgb
third_party/codecs/giflib/util/gif2x11
third_party/codecs/giflib/util/gifasm
third_party/codecs/giflib/util/gifbg
third_party/codecs/giflib/util/gifclip
third_party/codecs/giflib/util/gifclrmp
third_party/codecs/giflib/util/gifcolor
third_party/codecs/giflib/util/gifcomb
third_party/codecs/giflib/util/giffiltr
third_party/codecs/giflib/util/giffix
third_party/codecs/giflib/util/gifflip
third_party/codecs/giflib/util/gifhisto
third_party/codecs/giflib/util/gifinfo
third_party/codecs/giflib/util/gifinter
third_party/codecs/giflib/util/gifinto
third_party/codecs/giflib/util/gifovly
third_party/codecs/giflib/util/gifpos
third_party/codecs/giflib/util/gifrotat
third_party/codecs/giflib/util/gifrsize
third_party/codecs/giflib/util/gifspnge
third_party/codecs/giflib/util/giftext
third_party/codecs/giflib/util/gifwedge
third_party/codecs/giflib/util/icon2gif
third_party/codecs/giflib/util/raw2gif
third_party/codecs/giflib/util/rgb2gif
third_party/codecs/giflib/util/text2gif
third_party/codecs/jpeg-6b/Makefile
third_party/codecs/jpeg-6b/cjpeg
third_party/codecs/jpeg-6b/config.status
third_party/codecs/jpeg-6b/djpeg
third_party/codecs/jpeg-6b/jconfig.h
third_party/codecs/jpeg-6b/jpegtran
third_party/codecs/jpeg-6b/libjpeg.a
third_party/codecs/jpeg-6b/rdjpgcom
third_party/codecs/jpeg-6b/wrjpgcom
third_party/codecs/libpng/.deps/
third_party/codecs/libpng/.libs/
third_party/codecs/libpng/Makefile
third_party/codecs/libpng/config.h
third_party/codecs/libpng/config.status
third_party/codecs/libpng/libpng-config
third_party/codecs/libpng/libpng.sym
third_party/codecs/libpng/libpng.vers
third_party/codecs/libpng/libpng12-config
third_party/codecs/libpng/libtool
third_party/codecs/libpng/stamp-h1
third_party/codecs/tiff/Makefile
third_party/codecs/tiff/config.status
third_party/codecs/tiff/contrib/Makefile
third_party/codecs/tiff/contrib/acorn/Makefile
third_party/codecs/tiff/contrib/addtiffo/.deps/
third_party/codecs/tiff/contrib/addtiffo/.libs/
third_party/codecs/tiff/contrib/addtiffo/Makefile
third_party/codecs/tiff/contrib/addtiffo/addtiffo
third_party/codecs/tiff/contrib/dbs/.deps/
third_party/codecs/tiff/contrib/dbs/.libs/
third_party/codecs/tiff/contrib/dbs/Makefile
third_party/codecs/tiff/contrib/dbs/tiff-bi
third_party/codecs/tiff/contrib/dbs/tiff-grayscale
third_party/codecs/tiff/contrib/dbs/tiff-palette
third_party/codecs/tiff/contrib/dbs/tiff-rgb
third_party/codecs/tiff/contrib/dbs/xtiff/Makefile
third_party/codecs/tiff/contrib/iptcutil/.deps/
third_party/codecs/tiff/contrib/iptcutil/.libs/
third_party/codecs/tiff/contrib/iptcutil/Makefile
third_party/codecs/tiff/contrib/iptcutil/iptcutil
third_party/codecs/tiff/contrib/mac-cw/Makefile
third_party/codecs/tiff/contrib/mac-mpw/Makefile
third_party/codecs/tiff/contrib/mfs/Makefile
third_party/codecs/tiff/contrib/ojpeg/Makefile
third_party/codecs/tiff/contrib/pds/Makefile
third_party/codecs/tiff/contrib/ras/Makefile
third_party/codecs/tiff/contrib/stream/Makefile
third_party/codecs/tiff/contrib/tags/Makefile
third_party/codecs/tiff/contrib/win_dib/Makefile
third_party/codecs/tiff/html/Makefile
third_party/codecs/tiff/html/images/Makefile
third_party/codecs/tiff/html/man/Makefile
third_party/codecs/tiff/libtiff/.deps/
third_party/codecs/tiff/libtiff/.libs/
third_party/codecs/tiff/libtiff/Makefile
third_party/codecs/tiff/libtiff/mkg3states
third_party/codecs/tiff/libtiff/stamp-h1
third_party/codecs/tiff/libtiff/stamp-h2
third_party/codecs/tiff/libtiff/tif_config.h
third_party/codecs/tiff/libtiff/tiffconf.h
third_party/codecs/tiff/libtool
third_party/codecs/tiff/man/Makefile
third_party/codecs/tiff/port/.deps/
third_party/codecs/tiff/port/.libs/
third_party/codecs/tiff/port/Makefile
third_party/codecs/tiff/test/.deps/
third_party/codecs/tiff/test/Makefile
third_party/codecs/tiff/tools/.deps/
third_party/codecs/tiff/tools/.libs/
third_party/codecs/tiff/tools/Makefile
third_party/codecs/tiff/tools/bmp2tiff
third_party/codecs/tiff/tools/fax2ps
third_party/codecs/tiff/tools/fax2tiff
third_party/codecs/tiff/tools/gif2tiff
third_party/codecs/tiff/tools/pal2rgb
third_party/codecs/tiff/tools/ppm2tiff
third_party/codecs/tiff/tools/ras2tiff
third_party/codecs/tiff/tools/raw2tiff
third_party/codecs/tiff/tools/rgb2ycbcr
third_party/codecs/tiff/tools/thumbnail
third_party/codecs/tiff/tools/tiff2bw
third_party/codecs/tiff/tools/tiff2pdf
third_party/codecs/tiff/tools/tiff2ps
third_party/codecs/tiff/tools/tiff2rgba
third_party/codecs/tiff/tools/tiffcmp
third_party/codecs/tiff/tools/tiffcp
third_party/codecs/tiff/tools/tiffdither
third_party/codecs/tiff/tools/tiffdump
third_party/codecs/tiff/tools/tiffinfo
third_party/codecs/tiff/tools/tiffmedian
third_party/codecs/tiff/tools/tiffset
third_party/codecs/tiff/tools/tiffsplit
third_party/codecs/x264/.depend
third_party/codecs/x264/config.h
third_party/codecs/x264/config.mak
third_party/codecs/x264/gtk/config.mak
third_party/codecs/x264/libx264.a
third_party/codecs/x264/x264
third_party/codecs/xvidcore/build/generic/=build/
third_party/codecs/xvidcore/build/generic/config.guess
third_party/codecs/xvidcore/build/generic/config.status
third_party/codecs/xvidcore/build/generic/config.sub
third_party/codecs/xvidcore/build/generic/configure
third_party/codecs/xvidcore/build/generic/install-sh
third_party/codecs/xvidcore/build/generic/platform.inc
third_party/ffmpeg/.depend
third_party/ffmpeg/.libs
third_party/ffmpeg/.vhookdep
third_party/ffmpeg/config.err
third_party/ffmpeg/config.h
third_party/ffmpeg/config.mak
third_party/ffmpeg/ffmpeg
third_party/ffmpeg/ffmpeg_g
third_party/ffmpeg/libavcodec/libavcodec.a
third_party/ffmpeg/libavdevice/libavdevice.a
third_party/ffmpeg/libavformat/libavformat.a
third_party/ffmpeg/libavutil/libavutil.a
third_party/ffmpeg/version.h
third_party/ffmpeg/vhook/drawtext.so
third_party/ffmpeg/vhook/fish.so
third_party/ffmpeg/vhook/null.so
third_party/ffmpeg/vhook/ppm.so
third_party/ffmpeg/vhook/watermark.so
third_party/jtux/native/so/libjtux.so
third_party/mplayer/codec-cfg
third_party/mplayer/codecs.conf.h
third_party/mplayer/config.h
third_party/mplayer/config.mak
third_party/mplayer/help_mp.h
third_party/mplayer/input/libinput.a
third_party/mplayer/libaf/libaf.a
third_party/mplayer/libao2/libao2.a
third_party/mplayer/libavcodec/libavcodec.a
third_party/mplayer/libavformat/libavformat.a
third_party/mplayer/libavutil/libavutil.a
third_party/mplayer/libdha/libdha.a
third_party/mplayer/libdha/pci_dev_ids.c
third_party/mplayer/libdha/pci_ids.h
third_party/mplayer/libdha/pci_names.c
third_party/mplayer/libdha/pci_names.h
third_party/mplayer/libdha/pci_vendors.h
third_party/mplayer/libfaad2/libfaad2.a
third_party/mplayer/libmpcodecs/libmpcodecs.a
third_party/mplayer/libmpdemux/libmpdemux.a
third_party/mplayer/libmpeg2/libmpeg2.a
third_party/mplayer/libpostproc/libpostproc.a
third_party/mplayer/libswscale/libswscale.a
third_party/mplayer/libvo/libosd.a
third_party/mplayer/libvo/libvo.a
third_party/mplayer/loader/libloader.a
third_party/mplayer/mp3lib/libmp3.a
third_party/mplayer/mplayer
third_party/mplayer/osdep/libosdep.a
third_party/mplayer/stream/stream.a
third_party/mplayer/tremor/libvorbisidec.a
third_party/mplayer/version.h
third_party/mplayer/vidix/libvidix.a
third_party/swscale/libswscale.so
