# Lines that start with '#' are comments.
*~
config*.log

/native/**/*.o
/native/**/*.map
/native/**/*.a
/native/**/*.so

/third_party/**/*.o
/third_party/**/*.lo
/third_party/**/*.la
/third_party/**/*.pc

# gradle/eclipse stuff
/bin/
/.classpath
/.project
/.cproject
/.gradle/
/.settings/

/buildoutput/
