<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <util:RegistrySearch
      Id="Java7FamilyVersion"
        Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment"
        Value="CurrentVersion"
        Win64="no"
        Variable="JavaCurrentVersion" />
    <PackageGroup Id="Java7Runtime">
      <ExePackage Id="Java7Runtime"
        DisplayName="Java Runtime Version 7"
        Cache="no"
        Compressed="yes"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="Redist\jre-7u79-windows-i586.exe"
        SourceFile="redist\jre-7u79-windows-i586.exe"
        InstallCommand="/s ADDLOCAL=jrecore IEXPLORER=1 MOZILLA=1 JAVAUPDATE=0 JU=0 SYSTRAY=0 AUTOUPDATECHECK=0 REBOOT=Suppress /L*v &quot;[WixBundleLog_Java7Runtime]&quot;"
        DetectCondition="JavaCurrentVersion AND (JavaCurrentVersion &gt;= v1.7)">
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>